.DraggableCard {
    background: white;
    min-height: 5rem;
    width: 31ch;
    display: flex;
    padding-inline: 1rem;
    align-items: center;
    border-radius: 8px;
    margin-block: .5rem;
    
    &:hover {
        transition: 0.3s ease;
        cursor: grab;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        overflow: hidden;

        &__dragIcon {
            img {
                opacity: 0.25;
            }
        }
    }
}