.DraggableCard {
    background: white;
    min-height: 4rem;
    width: 31ch;
    display: flex;
    padding-inline: 1rem;
    align-items: center;
    border-radius: 8px;
    margin-block: .5rem;
    padding-block: .5rem;

    &:hover {
        transition: 0.3s ease;
        cursor: grab;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
        width: 31ch;

        &__dragIcon {
            img {
                opacity: 0.25;
            }
        }

        &__cardTitle {
            cursor: text;
            text-align: left;
            display: flex;
            justify-content: center;


            span {
                outline: none;
                // text-align: left;
                // background: red;
                color: #808080;
                font-weight: 700;
            }
        }
    }

    @media screen and (max-width: 500px) {
        width: 90%;
    }

    @media screen and (max-width: 360px) {
        width: 85%;
    }
}